@media (min-width: 960px) {
  /* For a screen > 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.container {
  margin: 0 auto;
}

.card {
  background-color: aliceblue;
  border: 1px, solid, grey;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(160, 160, 160);
  text-align: center;
}

.card-element {
  padding: 20px;
}

body {
  color: rgb(30, 28, 28);
  background-color: rgb(226, 226, 226);
}

.img-circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.no-margin {
  margin: 0;
}

.button {
  margin-top: 30px;
  padding: 10px;
  color: aliceblue;
  background-color: rgb(149, 75, 219);
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(177, 132, 219, 0.5);
}

.button:hover {
  background-color: rgb(177, 132, 219);
}

img {
  margin: 20px, 20px;
  padding: 0px, 0px;
}

h1 {
  color: rgb(25, 97, 161);
  font-size: 40px;
  line-height: 2em;
}

h2 {
  color: rgb(29, 112, 185);
  margin-bottom: -10px;
  font-size: 30px;
}

.header-font {
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 0;
}

.subheader-font {
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  margin-top: 0;
}

a {
  text-decoration: none;
  font-family: 'Space Mono', monospace;
}

li a {
  color: rgb(32, 91, 142);
}

li a:hover {
  color: rgb(100, 100, 100);
}

p {
  font-family: 'Space Mono', monospace;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

li {
  font-family: 'Space Mono', monospace;
  text-align: left;
}

.list-inline {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer ul {
  display: block;
}

.footer li {
  display: inline;
  font-size: 40px;
}

.card-element img {
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgb(219, 219, 219);
}
